@import 'mixins';

#authentication {
    width: 100vw;
    min-height: 100vh;
    background-color: $clouds;
    position: relative;
    padding: 100px 0px;
}

#login, #signup {
    padding: 30px;
    width: 400px;
    max-width: 90%;
    background-color: $concrete;
    border-radius: $border-radius;
}